body{
    width: 1500px;
    margin: 10px;
    font size: 20px;
}
header,footer {
    background-color: aqua;
    border: 2px solid black;
    padding: 10px;
}

.container{display: grid;
grid-template-areas: "header header"
"  sidebar content"
"footer footer";
grid-template-columns: 1fr 3fr;
gap: 20px;

}
header{
    grid-area: header;

}
footer{
    grid-area: footer;

}
.article{
    display: grid;
    grid-area: content;

    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    border: 2px solid black;
}
article{
    margin: 2px;
   padding: 10px;
   border: 2px solid black;
   font-size:100%;
}

aside{background-color: rgb(191, 158, 223);
border:2px solid black ;
grid-area: sidebar;
padding: 100px;}